{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}List Page {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="background-color: gainsboro; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <div class="container-fluid p-0">
        <ul class="nav" style="background-color: #80D8FF;">
            <li class="nav-item align-self-center d-sm-none">
                <a class="nav-link link-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </a>
            </li>
            <li class="nav-item align-self-center">
                <a class="nav-link link-dark" href="/">
                    <img src="{% static 'Listpage/images/logo_new.png' %}" alt="LOGO" width="140" height="40.2">
                </a>
            </li>
            <li class="nav-item align-self-center d-none d-sm-block">
                <a class="nav-link link-dark" href="/">Home</a>
            </li>


            {% if user.is_landlord %}       
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="/listpage/createproperty/">Create Property</a>
            </li>
            {% endif %}


            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">News</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">Features</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">Support</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">Contact</a>
            </li>
            <li class="nav-item align-self-center ms-auto">
                <a class="nav-link link-dark" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                </a>
            </li>




            {%if user.is_renter %}
            <li class="nav-item align-self-center">
              <a class="nav-link link-dark" href="/profiles">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
              </a>
          </li>
          {%elif user.is_landlord %}
          <li class="nav-item align-self-center">
            <a class="nav-link link-dark" href="/profiles/landlord">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>
        </li>
          {%else%}
            <li class="nav-item align-self-center">
                <a class="nav-link link-dark" href="/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
            </li>
          {%endif%}
       
       
       
       
       
       
       
       
       
        </ul>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-2">
            <a href="/" class="nav-link link-dark">Home</a>

            
           
            
        {% if user.is_landlord %}
            <a href="/listpage/createproperty/" class="nav-link link-dark">Create Property</a>
        {% endif %}
            
            
            <a href="#" class="nav-link link-dark">News</a>
            <a href="#" class="nav-link link-dark">Features</a>
            <a href="#" class="nav-link link-dark">Support</a>
            <a href="#" class="nav-link link-dark">Contact</a>
        </div>
    </div>

    <div class="container-fluid bg-white border border-bottom py-2">
        <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <input type="search" class="rounded border-0" style="width: 320px;" placeholder="Search suburb, postcode or state" aria-label="Search" aria-describedby="search-addon" />
            <button class="btn border-dark rounded d-none d-sm-inline" type="button">Filters</button>
            <button class="btn border-dark rounded d-none d-sm-inline" type="submit" style="background-color: gainsboro;">Search</button>
        </div>
    </div>
    <div class="container-fluid d-sm-none bg-white border border-bottom py-2">
        <div class="text-center d-sm-none"><span>1-25 of 468 results</span></div>
    </div>
    <div class="container-fluid bg-white border border-bottom py-2">
        <div class="row justify-content-center">
            <div class="col-xs-3 col-sm-2 d-flex justify-content-center">
                <a class="nav-link link-dark" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>List</a>
                <a class="nav-link link-dark" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                    </svg>Map</a>
            </div>
            <div class="col-sm-5 d-flex justify-content-center d-none d-sm-block align-self-center">Rental Properties and Real Estate In Burwood NSW 2134</div>
            <div class="col-sm-2 d-flex justify-content-center d-none d-sm-block align-self-center">1-25 of 468 results</div>
            <div class="col-xs-3 col-sm-2 d-flex text-center">
                <span class="align-self-center px-2">Sort</span>
                <span class="dropdown">
                    <button class="btn btn-white border-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Featured
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item active" href="#">Featured</a></li>
                      <li><a class="dropdown-item" href="#">Latest</a></li>
                      <li><a class="dropdown-item" href="#">Price from low to high</a></li>
                      <li><a class="dropdown-item" href="#">Price from high to low</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    {% for property in mypropertys reversed %}
          
    <div style="width: 100%; max-width: 1520px; margin: 0 auto;">
        <div class="container-fluid py-2">
            <div class="container bg-white border border-dark" style="max-width: 580px;">
                <a class="nav-link link-dark" href="{% url 'detailspage' property.id %}">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            {% if property.image %}
                            <img src="{{ property.image.url }}" style="width: 100%;">
                            {% else %}
                            <img src="{% static 'Listpage/images/unknown_prop.png' %}" style="width: 100%;">
                            {% endif %}
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'Listpage/images/sample_house2.jpg' %}" style="width: 100%;">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'Listpage/images/sample_house3.jpg' %}" style="width: 100%;">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'Listpage/images/sample_house4.jpg' %}" style="width: 100%;">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    <span class="row py-2">
                        <span class="col"><span class="h3">${{property.price}} per week</span></span>
                        <span class="col" style="text-align: right;">
                            <button type="button" class="btn btn-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg></button>
                            <button type="button" class="btn btn-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg></button>
                        </span>
                    </span>
                    <p><b>{{property.address}}, {{property.suburb}} {{property.state}}, {{property.postcode}}</b></p>
                    <div>
                        <span style="padding-right: 4rem;"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 640 512"><path d="M32 32c17.7 0 32 14.3 32 32V320H288V160c0-17.7 14.3-32 32-32H544c53 0 96 43 96 96V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V416H352 320 64v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/></svg>   {{property.bedroom}}</span>
                        <span style="padding-right: 4rem;"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path d="M96 77.3c0-7.3 5.9-13.3 13.3-13.3c3.5 0 6.9 1.4 9.4 3.9l14.9 14.9C130 91.8 128 101.7 128 112c0 19.9 7.2 38 19.2 52c-5.3 9.2-4 21.1 3.8 29c9.4 9.4 24.6 9.4 33.9 0L289 89c9.4-9.4 9.4-24.6 0-33.9c-7.9-7.9-19.8-9.1-29-3.8C246 39.2 227.9 32 208 32c-10.3 0-20.2 2-29.2 5.5L163.9 22.6C149.4 8.1 129.7 0 109.3 0C66.6 0 32 34.6 32 77.3V256c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H96V77.3zM32 352v16c0 28.4 12.4 54 32 71.6V480c0 17.7 14.3 32 32 32s32-14.3 32-32V464H384v16c0 17.7 14.3 32 32 32s32-14.3 32-32V439.6c19.6-17.6 32-43.1 32-71.6V352H32z"/></svg>   {{property.bathroom}}</span>
                        <span style="padding-right: 4rem;"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path d="M135.2 117.4L109.1 192H402.9l-26.1-74.6C372.3 104.6 360.2 96 346.6 96H165.4c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32H346.6c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2V400v48c0 17.7-14.3 32-32 32H448c-17.7 0-32-14.3-32-32V400H96v48c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V400 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>   {{property.parking_space}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div> 
  {% endfor %}

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</body>
</html>