{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Login Page {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <!-- Link to Bootstrap CSS file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <style>
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px; 
    }
    .logo img {
      max-width: 70%;
      max-height: 70%;
    }
    .background{
      
        background-repeat: no-repeat;
        background-size: cover;

    }
  </style>
  
</head>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"></body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
    
        <div class="logo text-center">
            <a class="nav-link link-dark" href="/">
                <img src="{% static 'Listpage/images/logo_new.png' %}" alt="LOGO" >
            </a>
            
          </div>
          <div class="background text-center">
            <a class="nav-link link-dark" href="/">
                <img src="{% static 'Listpage/images/background.png' %}" alt="LOGO" >
            </a>
      
      
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h1 class="text-center">Log In</h1>
          </div>
          <div class="card-body">
            <form method="POST" action="/login">
              <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" id="Email" name="Email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
              </div>
              <input type="submit" value="Log In as Landlord" class="btn btn-primary btn-block">
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="card-body text-center">
            <a href="/login" class="btn btn-link">Log In as Renter Instead </a>
            </div>

            <p></p>
            <div class="card-footer text-center ">

                <a href="/forgot-password" class="btn btn-link">Forgot password?</a>
                <a href="/createaccount" class="btn btn-link">Create an Account?</a>
            
            </div>
  

          

</body>
</html>


