{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<title> Personal Details</title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
    <body>
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Your Logo" />
                </a>
            </div>
        </header>
        <div class= "sub-header" >
            <h1 class="personal-title">About me </h1>
        </div>

        <div style="width:400px; margin-left:20%; margin-top: 3%;">
            <h3 class="label">Introduce yourself</h6>
            <p style="white-space: nowrap;">Share with the agent and landlord why you are the best fit for the property.</p>
        </div>


        <div style="width:400px; margin-left:20%; margin-top: 3%;">
            <textarea id="user-introduction" 
            placeholder="Include details about yourself, any hobbies and why you want this property." 
            style="width: 150%; height: 200px;"></textarea>

        </div>


        
    
        <div style="width:auto; margin-left:17.5%;margin-top: 4%;">
            <div class="button-container">
                <button class="cancel-btn">Cancel</button> 
                <button class="save-btn" type="submit">Save and back</button>
                
            </div>
        </div>
        
     </body>

</html>
    

