{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Create Property {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="background-color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <div class="container-fluid p-0">
        <ul class="nav" style="background-color: #80D8FF;">
            <li class="nav-item align-self-center d-sm-none">
                <a class="nav-link link-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </a>
            </li>
            <li class="nav-item align-self-center">
                <a class="nav-link link-dark" href="/">
                    <img src="{% static 'Listpage/images/logo_new.png' %}" alt="LOGO" width="140" height="40.2">
                </a>
            </li>
            <li class="nav-item align-self-center d-none d-sm-block">
                <a class="nav-link link-dark" href="/">Home</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="/listpage/createproperty/">Create Property</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">News</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">Features</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">Support</a>
            </li>
            <li class="nav-item align-self-center ms-auto d-none d-sm-block">
                <a class="nav-link link-dark" href="#">Contact</a>
            </li>
            <li class="nav-item align-self-center ms-auto">
                <a class="nav-link link-dark" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                </a>
            </li>
            <li class="nav-item align-self-center">
                <a class="nav-link link-dark" href="/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-2">
            <a href="/" class="nav-link link-dark">Home</a>
            <a href="/listpage/createproperty/" class="nav-link link-dark">Create Property</a>
            <a href="#" class="nav-link link-dark">News</a>
            <a href="#" class="nav-link link-dark">Features</a>
            <a href="#" class="nav-link link-dark">Support</a>
            <a href="#" class="nav-link link-dark">Contact</a>
        </div>
    </div>

    <div class="container-fluid px-0 py-2 border border-dark" style="background-color: gainsboro;">
        <a class="ms-3" href="/listpage">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>Back</a>
    </div>

    <div style="width: 100%; max-width: 620px; margin: 0 auto; font-weight: bold;">
        <h1 class="py-4">Create Property</h1>
        <form action = "{% url 'storeproperty' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="ImageInput">Images</label><br/>
                <input type="file" id="prop_image" name="prop_image">
            </div>
            <div class="form-group">
                <label for="TitleInput">Title</label>
                <input type="text" class="form-control" id="prop_title" name="prop_title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="AddressInput">Address*</label>
                <input type="text" class="form-control" id="prop_address" name="prop_address" placeholder="Enter Address">
            </div>
            <div class="form-group">
                <label for="SuburbInput">Suburb*</label>
                <input type="text" class="form-control" id="prop_suburb" name="prop_suburb" placeholder="Enter Suburb">
            </div>
            <div class="form-group">
                <label for="StateInput">State*</label>
                <input type="text" class="form-control" id="prop_state" name="prop_state" placeholder="Enter State">
            </div>
            <div class="form-group">
                <label for="PostcodeInput">Postcode*</label>
                <input type="number" class="form-control" id="prop_pcode" name="prop_pcode" placeholder="Enter Postcode">
            </div>
            <div class="form-group">
                <label for="PriceInput">Price range*</label>
                <input type="number" class="form-control" id="prop_price" name="prop_price" placeholder="Enter Price">
            </div>
            <div class="d-flex">
                <span class="form-group">
                    <label for="BedroomInput">Bedroom</label>
                    <input type="number" class="form-control" id="prop_bedroom" name="prop_bedroom" placeholder="0">
                </span>
                <span class="form-group">
                    <label for="BathroomInput">Bathroom</label>
                    <input type="number" class="form-control" id="prop_bathroom" name="prop_bathroom" placeholder="0">
                </span>
                <span class="form-group">
                    <label for="ParkingInput">Parking Space</label>
                    <input type="number" class="form-control" id="prop_parking" name="prop_parking" placeholder="0">
                </span>
            </div>
            <div class="form-group">
                <label for="DescriptionInput">Description</label>
                <input type="text" class="form-control" id="prop_description" name="prop_description" placeholder="Enter Description">
            </div>
            <button type="submit" class="btn btn-primary my-3">Add Property</button>
        </form>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
            {{ message }}
            </div>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

</body>
</html>