{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<title> Personal Details</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
    <body>
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Your Logo" />
                </a>
            </div>
        </header>
        <div class= "sub-header" >
            <h1 class="personal-title">Identity documents </h1>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div style="width:400px; margin-left:20%; margin-top: 3%;">
                <h3 class="label">Add your ID</h6>
                <p style="white-space: nowrap;">Upload images of two IDs. At least one ID must have your photo on it.</p>
            </div>

            <div style="width:600px; margin-left:20%; margin-top: 3%;">
                <div class="form-group">
                    <label for="ImageInput" style="width:200px;">Add Photo ID</label><br/>
                    <input type="file" id="photoid" name="photoid">
                </div>
                {% if user.photoid %}
                <img src="{{ user.photoid.url }}" style="width: 100%;">
                {% endif %}
                <div class="form-group">
                    <label for="ImageInput" style="width:200px;">Add Second ID</label><br/>
                    <input type="file" id="secondid" name="secondid" value="Upload">
                </div>
                {% if user.secondid %}
                <img src="{{ user.secondid.url }}" style="width: 100%;">
                {% endif %}
            </div>
            
        
            <div style="width:auto; margin-left:17.5%;margin-top: 4%;">
                <div class="button-container">
                    {% if user.is_landlord %}
                    <button type="submit" class="cancel-btn" formaction="{% url 'land' %}">Cancel</button> 
                    {% else %}
                    <button type="submit" class="cancel-btn" formaction="{% url 'profiles' %}">Cancel</button> 
                    {% endif %}
                    <button type="submit" class="save-btn" formaction="{% url 'updateidentity' %}">Save and back</button>
                    
                </div>
            </div>
        </form>
        
     </body>

</html>