{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<title> Landlord Profile</title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
    <body>
        <header class="header">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Your Logo" />
                </a>
            </div>
        </header>
        <div style="width:400px; margin-left:20%;">
            <h1 class="renterprofile-title">  Your Application</h1>



            <p class="subtitle">  Update your Landlord Profile. </p></div>

        <div style="width:400px; margin-left:20%;">
            <h1 class="profile-title"> Landord Personal</h1></div>

            <div class="button-container",div style="width:400px; margin-left:20%;">
                <a href="{% url 'personal' %}" class="button">Personal details</a>
                <a href="{% url 'aboutme' %}" class="button">About me</a>
                <a href="identity-documents.html" class="button">Identity documents</a>
                 </a></div>

                 <div style=" margin-left: 420px;" >
                    <a href="{% url 'logout' %}" class="btn btn-danger">Sign Out</a>
                </div>

     </body>

</html>
    

