{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<title> User Profile</title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
    <body>
        <script src="{% static 'image.js' %}"></script>
        <header class="header">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Your Logo" />
                </a>
            </div>
        </header>
        <div style="width:400px; margin-left:20%;">
            <h1 class="renterprofile-title"> {{ user.username }} Your Application</h1>
           
       
           

            
        <div style="width:400px; margin-left:37%;">
            <h1 class="profile-title">Renter Personal</h1></div>

            <div class="button-container",div style="width:400px; margin-left:20%;">
                <a href="{% url 'personal' %}" class="button">Personal details</a>
                <!-- <a href="{% url 'personal' %}" class="button" onclick="showImage('imageId1')">Personal details
                    {% if show_image %}
                        <img id="imageId1" src="{% static 'images/tick.jpg' %}" alt="green tick" style="width:20px; height:20px; display: inline;"/>
                    {% else %}
                        <img id="imageId1" src="{% static 'images/tick.jpg' %}" alt="green tick" style="width:20px; height:20px; display: none;"/>
                    {% endif %}
                </a> -->
                <a href="{% url 'aboutme' %}" class="button">About me</a>
                <a href="{% url 'income' %}" class="button">Income</a>
                <a href="{% url 'identity' %}"class="button">Identity documents</a>
                <a href="{% url 'referal' %}" class="tanant-button">
                <span class="main-text">Referral letter/Reference attachment (recommended)</span><br>
                <span class="extra-text">Give yourself a better chance.</span>
                 </a></div>


                 
                <div style=" margin-left: 200px;" >
                    <a href="{% url 'logout' %}" class="btn btn-danger">Sign Out</a>
                </div>
  
     </body>

</html>
    

