{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<title> User Profile</title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
    <body>
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Your Logo" />
                </a>
            </div>
        </header>
        <div style="width:400px; margin-left:20%;">
            <h1 class="renterprofile-title">Your Application</h1>
            <p class="subtitle">Create your Renter Profile once and reuse it for all your applications.</p></div>

        <div style="width:400px; margin-left:20%;">
            <h1 class="profile-title">Personal</h1></div>

            <div class="button-container",div style="width:400px; margin-left:20%;">
                <a href="personal-details.html" class="button">Personal details</a>
                <a href="about-me.html" class="button">About me</a>
                <a href="address-history.html" class="button">Address history</a>
                <a href="employment.html" class="button">Employment</a>
                <a href="income.html" class="button">Income</a>
                <a href="identity-documents.html" class="button">Identity documents</a>
                <a href="emergency-contact.html" class="button">Emergency contact</a>
                <a href="tenant-check.html" class="tanant-button">
                <span class="main-text">Tenant check (recommended)</span><br>
                <span class="extra-text">Give yourself a better chance. Help property managers evaluate you faster.</span>
                 </a></div>

            <div style="width:400px; margin-left:20%;">
                <h2 class="household-title">Household</h2>
            </div>
            <div class="button-container",div style="width:400px; margin-left:20%;">
                <a href="People.html" class="tanant-button">
                <span class="main-text">People</span><br>
                <span class="extra-text">Add or remove people you will live in this property with.</span></a>
                <a href="Pets.html" class="button">Pets</a>
                <a href="Utility connection service.html" class="button">Utilty connection service</a>
  

     </body>

</html>
    

