

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Create an Account  {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <!-- Link to Bootstrap CSS file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <style>
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px; 
      padding-bottom: 50px;
    }
    .logo img {
      max-width: 70%;
      max-height: 70%;
    }

    .background {

background-image:  url("{% static 'Login/images/background.png' %}");
background-size: 100% 100% ;
background-position-x: center;
background-attachment: fixed;

}
  </style>
  
</head>

<body class="background">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
      
        <div class="logo text-center">
            <a class="nav-link link-dark" href="/">
                <img src="{% static 'Listpage/images/logo_new.png' %}" alt="LOGO" >
            </a>
            
          </div>
      
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h1 class="text-center">Create an Account</h1>
          </div>
          <div class="card-body">
            <form method="POST" action="/login">
              <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Confrim Password:</label>
                <input type="password" id="confrimpassword" name="confirmpassword" class="form-control" required>
              </div>
              <div class="d-flex">
              <input type="submit" value="Set up My Profile as Renter" class=" btn btn-primary btn-block">
              <p>&nbsp</p>
              <input type="submit" value="Set up My Profile as Landlord" class=" btn btn-primary btn-block">
            </div>
              <p></p>
              <div style = "position:relative; left:80px; top:2px;">
              <a href="/forgotpassword" class=" btn btn-link " >Forgot password?</a>
              <a href="/login" class="  btn btn-link ">Already got an account?</a>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


  <p></p>

  

  
</body> 
    

</html>          
  



